In [4]:
a=int(input("enter a number"))
b=int(input("enter a number"))
sum=a+b
print(sum)

enter a number 10
enter a number 20

30

In [8]:
l=int(input("enter length"))
b=int(input("enter breadth"))
area=l*b
perimiter=2*(l+b)
print(area)
print(perimiter)

enter length 2
enter breadth 4

8
12

In [10]:
s= int(input("enter side"))
volume= s**3
area= 6*(s**2)
print(volume)
print(area)

enter side 2

8
24

In [11]:
age=int(input("Enter age: "))
if age >= 18:
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Enter age:  13

Not eligible to vote

In [12]:
num =int(input("Enter a number: "))

if num%2 == 0:
    print("Even number")
else:
    print("Odd number")

Enter a number:  44

Even number

In [13]:
num =int(input("Enter a number: "))

if num%5 == 0:
    print("Divisible by 5")
else:
    print("Not divisible by 5")

Enter a number:  10

Divisible by 5

In [14]:
num=int(input("Enter a number: "))

last_digit = abs(num) % 10
print("Last digit is:", last_digit)

Enter a number:  345

Last digit is: 5

In [15]:
num =int(input("Enter a number: "))

if num %7==0 or num %10==7:
    print("Buzz number")
else:
    print("Not a Buzz number")

Enter a number:  56

Buzz number

In [16]:
num=int(input("Enter a number: "))
temp=num
sum=0

while temp>0:
    digit = temp % 10
    sum = sum + digit ** 3
    temp = temp // 10

if sum == num:
    print("Armstrong number")
else:
    print("Not an Armstrong number")

Enter a number:  67

Not an Armstrong number

In [17]:
numbers= [1, 4, 7, 10, 12, 15, 18]

for num in numbers:
    if num % 2 == 0:
        print(num)

4
10
12
18

In [18]:
start=int(input("Enter starting value: "))
end=int(input("Enter ending value: "))
for i in range(start, end + 1):
    if i % 10 == 0:
        print(i)

Enter starting value:  60
Enter ending value:  70

60
70

In [19]:
n=int(input("Enter a number: "))
for i in range(n):
    print("GOOD MORNING")

Enter a number:  6

GOOD MORNING
GOOD MORNING
GOOD MORNING
GOOD MORNING
GOOD MORNING
GOOD MORNING

In [20]:
a =int(input("Enter first number: "))
b =int(input("Enter second number: "))
c =int(input("Enter third number: "))
average = (a + b + c) / 3
print("Average is:", average)

Enter first number:  6
Enter second number:  7
Enter third number:  8

Average is: 7.0

In [21]:
name =input("Enter your name: ")
age =int(input("Enter your age: "))
current_year = 2026
year_100 = current_year + (100 - age)
print("Hello", name + "!")
print("You will turn 100 years old in the year", year_100)

Enter your name:  teshaa
Enter your age:  21

Hello teshaa!
You will turn 100 years old in the year 2105

In [22]:
for i in range(20, 30, 2):
    print(i)

20
22
24
26
28

In [23]:
country = 'INDIA'
for i in country:
    print(i)

I
N
D
I
A

In [24]:
i = 0
sum = 0
while i < 9:
    if i % 4 == 0:
        sum = sum + i
    i = i + 2
print(sum)

12

In [25]:
N=int(input("Enter a number: "))
for i in range(1, N + 1):
    print(i, end=" ")

Enter a number:  50

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [26]:
N =int(input("Enter a number: "))
i = 1
while i <= N:
    print(i, end=" ")
    i = i + 1

Enter a number:  66

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66

In [27]:
N = int(input("Enter a number: "))
while N > 0:
digit = N % 10
print(digit)
N = N // 10

IndentationError: expected an indented block after 'while' statement on line 2 (1379113886.py, line 3)

In [28]:
N = int(input("Enter a number: "))
for i in range(1, N + 1):
    if N % i == 0:
        print(i)

Enter a number:  77

1
7
11
77

In [29]:
N =int(input("Enter a number: "))
count = 0

for i in range(1, N + 1):
    if N % i == 0:
        count = count + 1

print("Number of factors:", count)

Enter a number:  89

Number of factors: 2

In [30]:
N=int(input("Enter a number: "))
count = 0
for i in range(1, N + 1):
    if N % i == 0:
        count = count + 1
if count == 2:
    print("Prime number")
else:
    print("Not a prime number")

Enter a number:  76

Not a prime number

In [ ]:
lst[1,2,3,4,5]
n=len(lst)
for i in range (len//

In [1]:
#replace 'pi' with 3.14 ;abcpi - abc3.14
def replacepi(s)
if len(s) == 0or len(S)==1:
    return s
    if s[0] == "p" and s [1] =='i':
        return "3.14"+ REPL

SyntaxError: invalid octal literal (3073909865.py, line 3)

In [2]:
#program to print numbers from 1 to n

n = int(input())
for i in range(1, n+1):
    print(i)

 10

1
2
3
4
5
6
7
8
9
10

In [3]:

n = int(input())

i = 1
while (i <= n):
    print(i)
    i += 1

 6

1
2
3
4
5
6

In [6]:
n=int(input())
 for i in range (1,20,5)

SyntaxError: invalid syntax (860445318.py, line 2)